<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Dette er min konfigurationsfil for applikationen -->
	<appSettings>
		<!-- ServiceUrlToUse angiver URL'en til tjenesten, der skal bruges -->
		<add key="ServiceUrlToUse" value="https://localhost:5114/api/" />
	</appSettings>
</configuration>
